{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="#">
  <title>BMNC : Login</title>
  <meta name="description" content="BMNC">
  <meta name="keywords" content="BMNC">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="{% static 'js/navbar-ontop.js' %}"></script>
  <!-- Script: Animated entrance -->
  <script src="{% static 'js/animate-in.js' %}"></script>
</head>

<body>
  <!-- Navbar -->
  <!-- Cover -->
  <div class="align-items-center d-flex cover section-aquamarine py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center text-lg-left text-center">
          <h1 class="mb-0 mt-5 display-4">BMNC</h1>
          <p class="mb-5"></p>
        </div>
        <div class="col-lg-6 p-3">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a href="" class="active nav-link" data-toggle="pill" data-target="#tabone">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" data-toggle="pill" data-target="#tabtwo">Register</a>
            </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
              <form class="" method="GET" action="{% url 'authentication:authenticate-user' %}">
                <div class="form-group">
                  <label>Username</label>
                  <input type="email" class="form-control" placeholder="Enter username">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="Password"> </div>
                  <small class="form-text text-muted">Never share your password with anyone else.</small>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <p class="lead" contenteditable="true">Don't have an account yet?</p>
              <a class="btn btn-primary" href="/akun/register">Register!</a>
            </div>
            <div class="tab-pane fade" id="tabthree" role="tabpanel">
              <p class="">Tab pane three. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-3">
          <h2 class="mb-4">Contact</h2>
          <p class="m-0">
            <a href="tel:+246 - 542 550 5462" class="text-white">+62 123 456 789</a>
          </p>
          <p>
            <a href="mailto:cs@bmnc.com" class="text-white">cs@bmnc.com</a>
          </p>
        </div>
        <div class="col-md-6 p-3">
          <h2 class="mb-4">Location</h2>
          <p>
            <a href="https://www.google.it/maps" target="blank" class="text-white">Fasilkom UI, Kampus UI Depok</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-muted">© Copyright 2018 Adi, Raden, Norman. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="{% static 'js/smooth-scroll.js' %}"></script>
</body>

</html>
