{% extends "layout/base.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<div class="align-items-center cover py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 p-3">
        <h1>{{ berita.judul }}</h1>
        <p> average rating: {{ berita.rerata_rating }} </p>
        <div class="tab-content mt-2">
          <p style="text-align: justify;">
            {{ riwayat.konten }}
          </p>
        </div>
      </div>
    </div>
    <h3>Komentar</h3>
    {% for komentar in daftar_komentar %}
      <div class="row">
        <div class="col-lg-2 p-3">
          <img class="img-circle"
            src="http://www.engr.uconn.edu/~gelyko/images/people_pic/anonymous.png"
            width="70" height="70">
        </div>
        <div class="col-lg-10 p-3">
          <div class="tab-content mt-2">
            <p><a href="{{ komentar.url_user }}"> {{ komentar.nama_user }}</a> | {{ komentar.email_user }} </p>
            <p style="text-align: justify;">
              {{ komentar.konten }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="row">
        <div class="col-lg-10">
            <form class="" method="POST" action="{% url 'berita:tambah-komentar' url_berita=url_berita %}">
                {% csrf_token %}
                <div class="form-group">
                  <label>Nama</label>
                  <input type="text" class="form-control" placeholder="Nama" name="nama_user">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Email" name="email_user">
                </div>
                <div class="form-group">
                  <label>URL</label>
                  <input type="text" class="form-control" placeholder="URL" name="url_user">
                </div>
                <div class="form-group">
                  <label>Komentar</label>
                  <textarea class="form-control" placeholder="Komentar" name="konten">
                  </textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-lg-2">
            {% if my_rating %}
              <div>
                Rating Saya: {{ my_rating }}
              </div>
            {% else %}
              <form class="" method="POST" action="{% url 'berita:tambah-rating' url_berita=url_berita %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label>Rating</label>
                    <select class="form-control" name="nilai" id="register_tipe">
                      <option value="5">5</option>
                      <option value="4">4</option>
                      <option value="3">3</option>
                      <option value="2">2</option>
                      <option value="1">1</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            {% endif %}
        </div>
    </div>
  </div>
</div>
{% endblock %}